<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197102769669-fcdggol0ufqi0ihjd5p2sgms5b89jqck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197102769669-fcdggol0ufqi0ihjd5p2sgms5b89jqck</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>197102769669-fas325cd1t3n0hp0upb6rveg5n34b1sa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6mHk6L8tOO5IxVRBswqK-IzldLjeOGcM</string>
	<key>GCM_SENDER_ID</key>
	<string>197102769669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pixeldigitalart.co.makeSomeCoffee</string>
	<key>PROJECT_ID</key>
	<string>coffeelib-4f661</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeelib-4f661.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197102769669:ios:ec360a49b4b40fa0cb6e6c</string>
</dict>
</plist>